* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  background-color: #a787fda7;
}

.form {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fafafa2e;
}

label {
  font-size: 1.1rem;
}

/* resize disable */
textarea {
  resize: none;
}
