nav {
    /* FIXED NAVBAR */
    position: fixed;
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 0.9rem;

    padding-right: 4rem;

    transition: background-color 0.5s ease-in-out;
}

nav:hover {
    background-color: rgba(53, 53, 53, 0.24);
}

.nav-links {
    padding: 8px 12px;
    color: #fff;
}

.nav-light {
    background-color: #d8caff;
}

.nav-dark {
    background-color: #090514;
}